<h3>Registeration Form</h3>
<form method="POST" #f="ngForm" class="needs-validation col-6"
  (ngSubmit)="onSubmit(f,ContactName.value,Password.value,ContactTitle.value,Phone.value,Fax.value,Address.value,Region.value,City.value,Country.value,PostalCode.value,CompanyName.value)"
  novalidate>

  <div class="form-group">
    <label for="ContactName">ContactName</label>
    <input required minlength="5" maxlength="15" pattern="[a-zA-Z]+" ngModel #ContactNameModel="ngModel" type="text"
      name="ContactName" class="form-control" #ContactName class="form-control" style="width:50%">
    <span class="invalid-feedback">please fill out this field</span>
    <div class="alert alert-danger" *ngIf="ContactNameModel.touched && !ContactNameModel.valid">
      <div *ngIf="ContactNameModel.errors.required">ContactName is required</div>
      <div *ngIf="ContactNameModel.errors.minLength">ContactName should be minLength
        {{ContactNameModel.errors.minLength.requiredLength}}</div>
      <div *ngIf="ContactNameModel.errors.pattern">"ContactName doesn't match the pattern"</div>
    </div>
    <div *ngIf="flag">
      <span class="alert alert-danger">Contact Name Already Exist</span>
    </div>
  </div>

  <div class="form-group">
    <label for="Password">Password</label>
    <input required minlength="5" maxlength="15" pattern="[a-zA-Z0-9]+" ngModel #PasswordModel="ngModel" type="text"
      name="Password" class="form-control" #Password class="form-control" style="width:50%">
    <span class="invalid-feedback">please fill out this field</span>
    <div class="alert alert-danger" *ngIf="PasswordModel.touched && !PasswordModel.valid">
      <div *ngIf="PasswordModel.errors.required">Password is required</div>
      <div *ngIf="PasswordModel.errors.minLength">Password should be minLength
        {{PasswordModel.errors.minLength.requiredLength}}</div>
      <div *ngIf="PasswordModel.errors.pattern">"Password doesn't match the pattern"</div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">ContactTitle</label>
    <input required pattern="[a-zA-Z]+" type="text" name="ContactTitle" #ContactTitle ngModel
      #ContactTitleModel="ngModel" class="form-control" style="width:50%">
    <span class="invalid-feedback">please fill out this field</span>
    <div class="alert alert-danger" *ngIf="ContactTitleModel.touched && !ContactTitleModel.valid">
      <div *ngIf="ContactTitleModel.errors.required">ContactTitle is required</div>
      <div *ngIf="ContactTitleModel.errors.minLength">ContactTitle should be minLength
        {{ContactTitleModel.errors.minLength.requiredLength}}</div>
      <div *ngIf="ContactTitleModel.errors.pattern">"ContactTitle doesn't match the pattern"</div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">Phone</label>
    <input required pattern="(01)[0-9]{9}" ngModel #phoneModel="ngModel" type="text" name="Phone" #Phone
      class="form-control" style="width:50%">
    <span class="invalid-feedback">please fill out this field</span>
    <div class="alert alert-danger" *ngIf="phoneModel.touched && !phoneModel.valid">
      <div *ngIf="phoneModel.errors.required">phone is required</div>
      <div *ngIf="phoneModel.errors.pattern">"phone doesn't match the pattern"</div>
    </div>
  </div>


  <div class="form-group">
    <label class="control-label">Fax</label>
    <input required pattern="[0-9]{5}" ngModel #faxModel="ngModel" type="text" name="Fax" #Fax class="form-control"
      style="width:50%">
    <span class="invalid-feedback">please fill out this field</span>
    <div class="alert alert-danger" *ngIf="faxModel.touched && !faxModel.valid">
      <div *ngIf="faxModel.errors.required">fax is required</div>
      <div *ngIf="faxModel.errors.pattern">"fax doesn't match the pattern"</div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">Address</label>
    <input required ngModel #AddressModel="ngModel" type="text" name="Address" #Address class="form-control"
      style="width:50%">
    <span class="invalid-feedback">please fill out this field</span>
    <div class="alert alert-danger" *ngIf="AddressModel.touched && !AddressModel.valid">
      <div *ngIf="AddressModel.errors.required">Address is required</div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">Region</label>
    <input required ngModel #RegionModel="ngModel" type="text" name="Region" #Region class="form-control"
      style="width:50%">
    <span class="invalid-feedback">please fill out this field</span>
    <div class="alert alert-danger" *ngIf="RegionModel.touched && !RegionModel.valid">
      <div *ngIf="RegionModel.errors.required">Region is required</div>
    </div>

  </div>
  <div class="form-group">
    <label class="control-label">City</label>
    <input required pattern="[a-zA-Z]+" ngModel #cityModel="ngModel" type="text" name="City" #City class="form-control"
      style="width:50%">
    <span class="invalid-feedback">please fill out this field</span>
    <div class="alert alert-danger" *ngIf="cityModel.touched && !cityModel.valid">
      <div *ngIf="cityModel.errors.required">city is required</div>
      <div *ngIf="cityModel.errors.pattern">"city doesn't match the pattern"</div>

    </div>
  </div>

  <div class="form-group">
    <label class="control-label">Country</label>
    <input required pattern="[a-zA-Z]+" ngModel #countryModel="ngModel" type="text" name="Country" #Country
      class="form-control" style="width:50%">
    <span class="invalid-feedback">please fill out this field</span>
    <div class="alert alert-danger" *ngIf="countryModel.touched && !countryModel.valid">
      <div *ngIf="countryModel.errors.required">country is required</div>
      <div *ngIf="countryModel.errors.pattern">"country doesn't match the pattern"</div>

    </div>
  </div>

  <div class="form-group">
    <label>PostalCode</label>
    <input required type="text" name="PostalCode" #PostalCode class="form-control" style="width:50%">
    <span class="invalid-feedback">please fill out this field</span>
  </div>

  <div class="form-group">
    <label>CompanyName</label>
    <input required pattern="[a-zA-Z]+" ngModel #companyModel="ngModel" type="text" name="CompanyName" #CompanyName
      class="form-control" style="width:50%">
    <span class="invalid-feedback">please fill out this field</span>
    <div class="alert alert-danger" *ngIf="companyModel.touched && !companyModel.valid">
      <div *ngIf="companyModel.errors.required">CompanyName is required</div>
      <div *ngIf="companyModel.errors.pattern">"CompanyName doesn't match the pattern"</div>
    </div>
  </div>

  <input type="submit" value="register" class="btn btn-primary">
</form>