<div *ngIf="cookie.get('role')=='user'">

<!--<div *ngIf=true>-->
  <div class="row bg-warning">
    <div class="col-2 " *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p }">
      <div class="thumbnail bg-dark">
        <a class="text-white"
          [routerLink]="['/details-product',product.ProductID,product.ProductName,product.UnitPrice,product.UnitsInStock]">
          <p class=" center">"ProductName: "{{product.ProductName}}</p>
          <p class=" center">"ProductPrice: "{{product.UnitPrice}}</p>
        </a>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </div>
</div>


<div *ngIf="cookie.get('role')=='admin'">
<!--<div *ngIf=false>-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="float:right">Add
    New Product</button>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>ProductID</th>
        <th>ProductName</th>
        <th>ProductPrice</th>
        <th>ProductQuantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products| paginate: { itemsPerPage: 8, currentPage: p };index as i">
        <td>{{product.ProductID}}</td>
        <td>{{product.ProductName}}</td>
        <td>{{product.UnitPrice}}</td>
        <td>{{product.UnitsInStock}}</td>
        <td><input type="button" value="Delete" class="btn btn-danger" (click)="DeleteProductByAdmin(i)"></td>
        <td><input type="button" value="Edit" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
            (click)="updateField(i+((p-1)*8))"></td>
      </tr>

    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" [ngStyle]="{'display':display}" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formModal">
          <div class="form-group">
            <label for="ProductID">ProductID</label>
            <label #pID>{{productID}}</label>
          </div>
          <div class="form-group">
            <label for="ProductName">ProductName</label>
            <input id="ProductName" type="text" placeholder="enter your ProductName" class="form-control"
              value={{productName}} #pname>
          </div>
          <div class="form-group">
            <label for="UnitPrice">UnitPrice</label>
            <input id="UnitPrice" type="text" placeholder="enter your UnitPrice" class="form-control"
              value={{productPrice}} #pprice>
          </div>
          <div class="form-group">
            <label for="UnitsInStock">UnitsInStock</label>
            <input id="UnitsInStock" type="text" placeholder="enter your UnitsInStock" class="form-control"
              value={{productQuantity}} #units>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseHandled()">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="UpdateProductByAdmin(pID.innerText,pname.value,pprice.value,units.value)">Save changes</button>
      </div>
    </div>
  </div>
</div>